.page {
  min-width: 1100px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.header__title {
  position: relative;
  max-width: 709px;
  left: 80px;
  top: 213px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title span {
  display: block;
}

.span-acent {
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: relative;
  left: 80px;
  top: 241px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__description span {
  display: block;
}

.header__image {
  position: absolute;
  max-width: 646px;
  max-height: 568px;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  position: relative;
  top: 30px;
  right: 80px;
}

.header__footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 80px;
  bottom: 40px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  right: 80px;
  width: calc(100% - 160px);
}

.header__footer-right {
  display: flex;
  align-items: flex-end;
  right: 80px;
}

.header__paragraph {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer-hour {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph-adress {
  margin: 0;
  padding: 0;
  align-content: flex-end;
}

.main {
}

.recipes {
  position: relative;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 100px 0 0 0;
  margin: 0;
}

.recipes__title {
  position: relative;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin-left: 80px;
  padding: 0;
  margin: 0 0 0 80px;
}

.recipes__subtitle {
  position: relative;
  max-width: 438px;
  color: #ffffff;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 24px 0 80px 80px;
}

.recipes__videos {
  position: absolute;
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

.recipes__videos-item {
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.reservation {
  position: relative;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin: 0 0 80px 0;
}

.reservation__title--text {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__content {
  margin: auto;
  max-width: 385px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
}

.reservation__form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px 0;
  padding: 0;
}

.reservation__form-input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
  padding: 0;
  border-radius: 4px;
}

.reservation__button {
  height: 60px;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__button:hover {
  opacity: 0.7;
}

.reservation__form-checkbox {
  display: flex;
  border-radius: 2px;
  margin-top: 32px;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__form-checkbox-button {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}
